<!DOCTYPE html>
<html>

<head>
    <title>HackerNews</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body ng-app="myApp" ng-controller="newsController">
    <h3 ng-hide="Y_CROS">Check if your browser is disabling CORS
      <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">
        Plugin for chrome to enable CORS
      </a>
   </h3>
    <div class="full" ng-init="getMore()">
<!--          <div class=" sortBar ">
          <div class="polarity " ng-init="plus=true ">
             <span ng-click="plus=false " ng-show="plus ">Incre++</span>
             <span ng-hide="plus " ng-click="plus=true ">Decr--</span>
          </div>
          <div class="each-head top-head " ng-click="sortBy='by' " >Author</div>
          <div class="each-head top-head " ng-click="sortBy='type' ">Type</div>
          <div class="each-head top-head " ng-click="sortBy='score' ">Score</div>
          <div class="each-head top-head " ng-click="sortBy='time' ">Time</div>
        </div> -->
    <div class="each " ng-repeat="i in myData | orderBy:sortBy ">
       <div class="head ">
          <div class="each-head " >By: {{i.by}}</div>
          <div class="each-head ">Type: {{i.type}}</div>
          <div class="each-head ">Score: {{i.score}}</div>
          <div class="each-head ">{{i.time}}</div>
       </div>
       <div class="body ">     
          <div ng-click="showUrl($index,i)" >{{i.title}}</div>
          
          <div ng-show="i.show"><a href="{{i.url}} " target="_blank">{{i.url}}</a></div>
       </div>
    </div> 
  </div>
  <button class="btn btn-full" ng-click="getMore() ">getMore</button>
 </body>  
</html>
