body{
	width: 100%;
	overflow-x: hidden;
	background: snow;
}
.container-fluid{
	background: white;
}

.navbar-nav{
	width:82%;
	margin-left:10%;
}

.navbar-nav  li{
   text-align: center;
   width:16%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 450px;
      margin: auto;
 }

 .carousel-control{
 	opacity: 0.09;
}
/*
 .left.carousel-control{
    left:-80px;
 }
 .right.carousel-control{
    right:-80px;
 }
*/
.jumbotron{
	background: white;
	padding-top: 0;
}
.jumbotron p{
	font-size: 15px;
}
.jumbotron h1{
	margin-top: 0;
	margin-bottom: 15px;
}
/* .side-stack{
 	position: absolute;
 	top: 420px;
 	left: 20px;
 }
*/
 .nav-stacked li{
 	background: white;
 }
 .thumbnail1{
 	margin:0 0.25% 0 0.25%; 
    width: 24.5%;
 }